* {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  img {
    width: 100%;
  }
  
  code {
    font-family: 'Inter', sans-serif;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: black;
    color: white;
  }
